<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/header.ejs') %>

      <main class="content">
        <% if (errorMessage) { %>
          <div class="error-message"><%= errorMessage %></div>
        <% } %>
        <form class="form" action="/new-password" method="POST">
          <div class="form__control">
            <label class="form__label"  for="password">New password</label>
            <input class="form__input" type="password" name="password" id="imageUrl">
          </div>
          <button class="btn form__cta" type="submit">
            Update password
          </button>
          <input type="hidden" value="<%= csrfToken %>" name="_csrf">
          <input type="hidden" value="<%= passwordToken %>" name="_passwordToken">
          <input type="hidden" value="<%= userId %>" name="_userId">
        </form>
      </main>
<%- include('../includes/end.ejs') %>