<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/header.ejs') %>

      <main class="content">
        <% if (errorMessage) { %>
          <div class="error-message"><%= errorMessage %></div>
        <% } %>
        <form 
          class="form" 
          action="/admin/<% if (editing) {%>edit-product<% } else {%>add-product<% } %>"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form__control">
            <label class="form__label"  for="title">Title</label>
            <input 
              class="form__input" 
              type="text" name="title" 
              id="title"
              value="<% if (editing || hasError) {%><%=product.title%><% }%>"
            >
          </div>
          <hr class="separator">
          <!--<div class="form__control">
            <label class="form__label"  for="imageUrl">Image URL</label>
            <input
              class="form__input"
              type="text"
              name="imageUrl"
              id="imageUrl"
              value="<% if (editing || hasError) {%><%=product.imageUrl%><% }%>"
            >
          </div> -->
          <div class="form__control">
            <label class="form__label"  for="image">Image</label>
            <input
              class="form__input"
              type="file"
              name="image"
              id="image"
            >
          </div>
          <hr class="separator">
          <div class="form__control">
            <label class="form__label"  for="price">Price</label>
            <input
              class="form__input"
              type="number"
              name="price"
              id="price"
              step="0.01"
              value="<% if (editing || hasError) {%><%=product.price%><% }%>"
            >
          </div>
          <hr class="separator">
          <div class="form__control">
            <label class="form__label"  for="description">Description</label>
            <textarea 
              class="form__input"
              name="description"
              id="description"
              rows="5"
            ><% if (editing || hasError) {%><%=product.description%><% }%></textarea>
          </div>
          <% if (editing) { %>
            <input type="hidden" value="<%=product._id%>" name="productId">
            <% } %>
          <button class="btn form__cta" type="submit">
            <% if (editing) { %>  Update Product <% } else { %>Add Product<% } %>
          </button>
          <input type="hidden" value="<%= csrfToken %>" name="_csrf">
        </form>
      </main>
      <%- include('../includes/end.ejs') %>