<h1 class="product-card__title">
  <%= product.title %>
</h1>
<div class="product-card__image-container">
  <img  class="product-card__image" src="/<%= product.imageUrl %>" alt="<%= product.title %>">
</div>
<div class="product-card__price">$
  <%= product.price %>
</div>
<p class="product-card__description">
  <%= product.description %>
</p>