<%- include('../includes/head.ejs') %>

  <body>
    <%- include('../includes/header.ejs') %>
      <main class="content product-detail">
        <h1 class="product-card__title">
          <%= product.title %>
        </h1>
        <hr class="separator">
        <div class="product-detail__image">
          <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <div class="product-card__price">$
          <%= product.price %>
        </div>
        <p class="product-card__description">
          <%= product.description %>
        </p>
        <% if (isLoggedIn) { %>
          <%- include('../includes/add-to-cart.ejs') %>
        <% } %>
      </main>
      <%- include('../includes/end.ejs') %>